<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About ngBlog</mat-card-title>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, aspernatur minima? Molestiae autem sint expedita modi distinctio quos ex eos, dolores nam explicabo pariatur quis, natus veritatis obcaecati, quia tempore. </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, aspernatur minima? Molestiae autem sint expedita modi distinctio quos ex eos, dolores nam explicabo pariatur quis, natus veritatis obcaecati, quia tempore. </p>
    </mat-card-content>
</mat-card>